html, body {
  margin: 0;
  padding: 0;
  animation:load 5s;
}
canvas {
  display: block;
  cursor: none;
}
label{
  font-family:consolas;
  font-family:25px;
}

@keyframes load{
  0%{
    opacity:0;
  }
  
  100%{
    opacity:1;
  }
}

